:root {
  --primary-color: #2c3e50;
  --secondary-color: #1abc9c;
}

body {
  font-family: sans-serif;
}

a {
  color: var(--secondary-color);
}

.my-bg-green {
  background-color: var(--secondary-color);
}

.my-text-white {
  color: white;
}

.my-section {
  padding: 6rem 0;
}

.my-btn-social {
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-divider-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.my-divider-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.my-divider .my-divider-line:first-child {
  margin-right: 1rem;
}

.my-divider .my-divider-line:last-child {
  margin-left: 1rem;
}

#my-nav {
  padding: 1.5rem 0;
  background-color: var(--primary-color);
}

#my-jumbotron {
  padding: 8rem 0 6rem 0;
  background-color: var(--secondary-color);
}

#my-jumbotron img {
  width: 15rem;
}

#my-jumbotron .my-divider-line,
#my-about .my-divider-line {
  background-color: #fff;
}

#my-jumbotron .my-divider-icon,
#my-about .my-divider-icon {
  color: #fff;
}

#my-portfolio {
}

#my-about {
  background-color: var(--secondary-color);
}

#my-contact {
}

#my-footer {
  padding: 5rem 0;
  color: #fff;
  background-color: var(--primary-color);
}

#my-bottom-footer {
  background-color: #1a252f;
}
